:root {
  --primary-color: #2196f3;
  --secondary-text-color: #212121;
  --accent-text-color: #ffffff;
  --primary-text-color: #757575;
  --footer-bg-color: #2f303a;
  --section-bg-color: #f5f4fa;
  --footer-link-hover-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  color: var(--secondary-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */

/* Logo */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-color);
}
.primary-logo {
  color: var(--secondary-text-color);
}
.secondary-logo {
  color: var(--accent-text-color);
}

.header-link,
.header-tel,
.header-mail {
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-link {
  color: var(--secondary-text-color);
}

.current {
  color: var(--primary-color);
}

.header-link:hover,
.header-link:focus,
.header-tel:hover,
.header-tel:focus,
.header-mail:hover,
.header-mail:focus {
  color: var(--primary-color);
}

/* Footer */
.footer {
  background-color: var(--footer-bg-color);
  padding: 20px;
}

.footer-list {
  font-style: normal;
}
.footer-adr,
.footer-mail,
.footer-tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer-adr:hover,
.footer-mail:hover,
.footer-tel:hover,
.footer-adr:focus,
.footer-mail:focus,
.footer-tel:focus {
  color: var(--footer-link-hover-color);
}

/* ------------------ Studio Page ------------------ */
/* Hero section */
.hero {
  background-color: var(--footer-bg-color);
}
.main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-text-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--primary-color);
  color: var(--accent-text-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/* Features section*/
.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

/* Team section */
.team {
  background-color: var(--section-bg-color);
}

.team-item-title,
.team-item-text {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-item-title {
  font-weight: 500;
  color: var(--secondary-text-color);
}

/* ------------------ Portfolio Page ------------------ */

.filters-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--primary-color);
}

.filters-btn.current {
  color: var(--accent-text-color);
  background-color: var(--primary-color);
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-text-color);
}

/* .portfolio-item {
  border: 1px solid #eeeeee;
} */
